.hero-unit
  #slides
    = image_tag 'photo01.png', :width=>780, :height=>300
    = image_tag 'photo02.png', :width=>780, :height=>300
    = image_tag 'photo03.png', :width=>780, :height=>300
    = image_tag 'photo04.jpg', :width=>780, :height=>300

.row#thumbnails
  .span4
    = image_tag('photo01.jpg', :height=>'120', :width=>'120', :class=>'thumbnail')
  .span4
    = image_tag('photo02.jpg', :height=>'120', :width=>'120', :class=>'thumbnail')
  .span4
    = image_tag('photo03.jpg', :height=>'120', :width=>'120', :class=>'thumbnail')
  .span4
    = image_tag('photo04.jpg', :height=>'120', :width=>'120', :class=>'thumbnail')
