%footer#footer
  .container
    .row
      %ul#footer_links.span12
        %li= link_to 'Terms of Service'
        %li= link_to 'FAQ'
        %li= link_to 'Credits'
        %li= link_to 'Contact'

      .span4
        #copyright
          &copy; #{Time.now.year}. Treasure Next Door. All Rights Reserved.


